deployment:
  replicas: 1
service:
  enabled: true
  type: LoadBalancer
  annotations:
    io.cilium/lb-ipam-ips: "172.20.10.30"
  labels:
    bgp.cilium.io/ip-pool: default
    bgp.cilium.io/advertise-service: default
ports:
  web:
    port: 80
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    exposedPort: 443
    protocol: TCP
    http3:
      enabled: true
    tls:
      enabled: true
      domains:
        - main: cluster.zolli-home.hu
          sans:
            - "*.cluster.zolli-home.hu"
  traefik:
    port: 9000
    expose:
      default: false
    protocol: TCP
ingressRoute:
  dashboard:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    entryPoints:
      - websecure
    matchRule: Host(`traefik.cluster.zolli-home.hu`)
    tls:
      secretName: traefik-dashboard-tls
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: true
globalArguments:
  - "--global.checknewversion=false"
  - "--global.sendanonymoususage=false"
additionalArguments:
  - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
  - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
  - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
  - "--log.level=INFO"
  - "--accesslog=true"
  - "--metrics.prometheus=true"
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
securityContext:
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
tlsStore:
  default:
    defaultCertificate:
      secretName: wildcard-cluster-zolli-home-hu-tls
