connect:
  credentials_base64: ""
  credentialsKey: 1password-credentials.json
  credentialsName: onepassword-credentials
operator:
  create: false
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
